body {
    overflow: hidden;
    background-image: url("/images/forest background.png");
    background-color: #170e19;
    background-repeat: repeat-x;
    background-position: center -55%;
}

gf-platform {
    background-color: #45237c;
}
gf-obstacle {
    background-color: #524014;
    width: 30px;
    height: 100px;
}
gf-obstacle.type2 {
    width: 10px;
    height: 50px;
    background-color: antiquewhite;
}
gf-hazard {
    background-color: rgb(100, 19, 19);
    width: 50px;
    height: 50px;
}
gf-pc {
    width: 128px;
    height: 128px;
    background-image: url("/images/charakter/Run.png");
    background-position: 0px 0px;
}

gf-pc.gf-ani {
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
}


gf-pc.gf-ani.gf-idle {
    background-size:200%;
    animation-duration: 3s;
}

gf-pc.gf-ani.gf-idle.gf-deg-90 {
    animation-name: kf-pc-idle-90;
    background-image: url("/images/charakter/Idle.png");
}

@keyframes kf-pc-idle-90 {
    0% {background-position: 0px 0px}
    98% {background-position: -128px 0px}
    100% {background-position: 0px 0px}
}

gf-pc.gf-ani.gf-idle.gf-deg-270 {
    animation-name: kf-pc-idle-270;
    background-image: url("/images/charakter/Idle-270.png");
}

@keyframes kf-pc-idle-270 {
    0% {background-position: -128px 0px}
    98% {background-position: 0px 0px}
    100% {background-position: -128px 0px}
}

gf-pc.gf-ani.gf-run {
    background-size: 400%;
    animation-duration: .4s;
}

gf-pc.gf-ani.gf-run.gf-deg-90 {
    animation-name: kf-pc-run-90;
    background-image: url("/images/charakter/Run.png");
}

@keyframes kf-pc-run-90 {
    0% {background-position: -128px 0px}
    25% {background-position: -256px 0px}
    50% {background-position: -384px 0px}
    75% {background-position: -512px 0px}
    100% {background-position: 0px 0px}
}

gf-pc.gf-ani.gf-run.gf-deg-270 {
    animation-name: kf-pc-run-270;
    background-image: url("/images/charakter/Run-270.png");
}

@keyframes kf-pc-run-270 {
    0% {background-position: 0px 0px}
    25% {background-position: -512px 0px}
    50% {background-position: -384px 0px}
    75% {background-position: -256px 0px}
    100% {background-position: -128px 0px}
}

gf-pc.gf-ani.gf-jump.gf-deg-90{
    background-size: 100%;
    background-image: url("/images/charakter/Jump2.png");
    background-position: 0px 0px;
}

gf-pc.gf-ani.gf-jump.gf-deg-270 {
    background-size: 100%;
    background-image: url("/images/charakter/Jump2-270.png");
    background-position: 0px 0px;
}

gf-pc.gf-ani.gf-fall.gf-deg-90{
    background-size: 100%;
    background-image: url("/images/charakter/Jump2.png");
    background-position: 0px 0px;
}

gf-pc.gf-ani.gf-fall.gf-deg-270 {
    background-size: 100%;
    background-image: url("/images/charakter/Jump2-270.png");
    background-position: 0px 0px;
}